<h4>Login</h4>
<form class="create-form" role="form" method="post" ng-submit="login(logT)">
    <div class="form-group">
        <label style="font-size:1rem;">Email:</label>
        <input type="text" style="font-size:1.2rem;" maxlength="40" class="form-control" ng-model="logT.email" placeholder="Ingrese correo" required>
        <label style="font-size:1rem;">Password:</label>
        <input type="password" style="font-size:1.2rem;" maxlength="40" class="form-control" ng-model="logT.password" placeholder="Ingrese password" required>
        <button type="submit" class="btn btn-info btn-lg btnTabla">Ingresar</button>
    </div>
</form>