<div class="form-group">
    <label style="font-size:1rem;">ID:</label>
    <input type="text" style="font-size:1.2rem;" class="form-control" ng-model="currentNoticia.id" placeholder="" readonly>
</div>
<div class="form-group">
    <label style="font-size:1rem;">Titulo:</label>
    <input type="text" style="font-size:1.2rem;" class="form-control" ng-model="currentNoticia.titulo" placeholder="" readonly>
</div>
<div class="form-group">
    <label style="font-size:1rem;">Texto Breve:</label>
    <textarea style="font-size:1.2rem;" class="form-control" rows="5" placeholder="" readonly>{{currentNoticia.texto_breve}}</textarea>
</div>
<div class="form-group">
    <label style="font-size:1rem;">Fecha:</label>
    <input type="text" style="font-size:1.2rem;" class="form-control" ng-model="currentNoticia.fecha" placeholder="" readonly>
</div>
<div class="form-group">
    <label style="font-size:1rem;">Descripcion:</label>
    <textarea style="font-size:1.2rem;" class="form-control" rows="5" placeholder="" readonly>{{currentNoticia.descripcion}}</textarea>
</div>
<table class="tablasResultado">
    <tr>
        <th class="colmDeta2">
            <div class="form-group">
                <label style="font-size:1rem;">Imagen:</label><br/>
                <img class="formatoImagenGen" ng-src="{{currentNoticia.imagen}}"/>
            </div>
        </th>
        <th class="colmDeta2">
            <div class="form-group">
                <label style="font-size:1rem;">Video de youtube:</label><br/>
                <youtube-video video-url="currentNoticia.video" class="videoNoticia"></youtube-video>
            </div>
        </th>
    </tr>
</table>
<button type="button" class="btn btn-default btn-lg pull-right btnTabla" ng-click="cancelarCrear()">Volver</button>